html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background-color: var(--default-bg-color);
}

body.menu-open {
    padding-right: 1px;
    overflow: hidden;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  outline: none;
}

main  {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

section {
    padding-bottom: 120px;
}

@media (max-width: 1200px) {
    section {
        padding-bottom: 60px;
    }
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}