.btn {
    display: inline-block;
    padding: 0 24px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--blue);
    border: var(--element-border);
    border-radius: 12px;
    transition: var(--default-transition);
}

.btn-gray {
    color: var(--lightgray);
    background-color: var(--darkestgray);
}

@media (min-width: 1201px) {
    .btn:hover {
        color: var(--white);
        box-shadow: var(--hover-shadow);
    }
}

.btn-icon {
    position: relative;
    display: inline-block;
    z-index: 2;
    width: 42px;
    min-width: 42px;
    height: 42px;
    border-radius: 12px;
    border: var(--element-border);
    background-color: var(--darkestgray);
    transition: var(--default-transition);
}

.btn-icon img,
.btn-icon svg {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    z-index: 1;
    transition: .3s ease;
}

.btn-icon svg {
    fill: none;
}

.btn-icon svg path {
    transition: var(--default-transition);
}

@media (min-width: 1201px) {
    .btn-icon:hover {
        box-shadow: var(--hover-shadow);
    }

    .btn-icon:hover svg path {
        stroke: var(--white);
    }
}