.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 0;
    background-color: var(--header-bg-color);
    border-bottom: var(--element-border);
}

.header .wrapper {
    max-width: 1400px;
}

.header-logo {
    width: 100%;
    max-width: 139px;
}

.header-cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav .btn {
    display: none;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    padding: 0 16px;
    list-style: none;
}

.header nav a {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
    transition: var(--default-transition);
}


.header nav a.active {
    color: var(--white);
}

@media (min-width: 1201px) {
    .header nav a:hover {
        color: var(--white);
    }
}

.menu-trigger {
    display: none;
}

.menu-trigger img:last-child {
    opacity: 0;
    visibility: hidden;
}

.header.open .menu-trigger img:first-child {
    opacity: 0;
    visibility: hidden;
}

.header.open .menu-trigger img:last-child {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1150px) {
    .header nav ul li {
        padding: 0 8px;
    }

    .header nav a {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 76px;
        padding: 0;
    }

    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        height: 76px;
        border: var(--element-border);
        background-color: var(--header-bg-color);
    }

    .header-logo {
        position: relative;
        z-index: 2;
        width: auto;
        order: 1;
    }

    .header nav {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 112px 20px 80px;
        background-color: var(--header-bg-color);
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }

    .header.open nav {
        opacity: 1;
        visibility: visible;
    }

    .header nav ul {
        position: relative;
        display: block;
        margin-bottom: 52px;
        padding-bottom: 36px;
    }

    .header nav ul::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 1px;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.08);
    }

    .header nav ul li {
        padding: 16px 0;
        text-align: center;
    }

    .header nav a {
        font-size: 24px;
        line-height: 24px;
    }

    .header nav .btn {
        display: inline-block;
        margin: 0 auto;
    }

    .menu-trigger {
        display: inline-block;
        order: 2;
    }

    .header-cnt > .btn {
        display: none;
    }
}